
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@font-face{font-family:'Noto Sans KR'; src:url('../fonts/NotoSans-Regular.ttf')}

html,
text {
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-overflow-scrolling:touch;
    background: white;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 2;
}

.menuBox {
    float: right;
    height: 130px;
    width: 24px;
    margin-right: 40px;
    cursor: pointer;
}

#menuButton {
    color: black;
    font-size: 40px;
    cursor: pointer;
}

#customButton {
    margin-top: 60px;
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
}

#customButton::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: inherit;
    transform: translateY(-6px);
}

.menuBox:hover #customButton::before {
    -moz-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
}

#customButton::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: inherit;
    transform: translateY(6px);
}

.menuBox:hover #customButton::after {
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    transition: all .25s ease;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
}



.menuBox.open #customButton::before {
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    /* transform: rotate(45deg); */
    visibility: visible !important;
}

.menuBox.open #customButton::after {
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    visibility: visible !important;
}

.menuBox.open #customButton {
    visibility: hidden;
}

.outScreen {
    z-index: 1;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .9);
    text-align: center;
}

.outScreen ul {
    padding: 0;
}

.outScreen ul li {
    color: white;
    list-style: none;
    text-align: center;
    font-size: 3em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.section1 {
    width: 100%;

    padding-top:150px;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.pageTitle{
	float:left;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	padding:30px;
}

.topButtonBox{
	height:50px;
	width:50px;
	text-align: center;
	cursor:pointer;
	z-index:0;
	position: fixed;
    bottom: 20px;
    right: 20px;

	/*
    margin:auto;
	margin-bottom:20px;
	margin-top: 60px;
	*/
}


#goTop{

	color:#ff6666;
	font-size: 40px;
}

#goTop:hover{
	color:black;
}

.works.title,
.works.start {
    text-align: center;
}

.works {
    padding: 10px 30px;
}

.works.title p {
    font-size: 2em;
    color: #ff6666;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}

@media (max-width: 767px) {
    .section1 {
        padding-top: 80px;
    }
    #logo{
    	height:40px;
    }
    .menuBox {
        height: 80px;
        margin-right: 20px;
    }
    #customButton {
        margin-top: 40px;
    }
    .outScreen ul li {
        font-size: 2em;
    }
    .pageTitle{
    	font-size: 2em;
    	padding:20px;
    }
    .topButtonBox{

    	position: static;
    	margin:auto;
		margin-bottom:20px;
		margin-top: 60px;
    }

}
